html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

body > main {
  flex: 1 0 auto;
}

.hide {
 display: none !important;
}

.btn.disabled,
.fa[disabled],
.disabled > .fa,
[disabled] > .fa {
  opacity: 0.4!important;
  /*optional*/ cursor: not-allowed;
  /*optional*/ pointer-events: none;
}

 

label[for=dt-length-0]
{
    margin-left:5px;
}

.ts-wrapper.invalid {
  border-color: #dc3545 !important;
}